/* Reset some basic styles */
body, h1, h2, p, ul, li, a {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #6e3030;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #ac2ff0;
    color: rgb(17, 16, 16);
    padding: 20px 0;
}

header h1 {
    text-align: center;
    margin: 0;
    margin-top: -135px;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ffffff;
    font-weight: bold;
}

section {
    padding: 20px 0;
    border-bottom: 1px solid #cccccc;
}

h2 {
    margin-bottom: 10px;
    color: #35424a;
    text-align: center;
}

.project {
    margin-bottom: 20px;
    color: #6e3031;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
